<tr class="field">
	<%= f.hidden_field :id %>
	<td><%= f.text_field :time, :class => "form-control" %></td>
	<td><%= f.text_field :temp, :class => "form-control" %></td>
	<td><%= f.text_field :ph, :class => "form-control" %></td>
</tr>

