<div class="row">
	<div class="col-md-12">
		<h1>Editing cheese</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<%= link_to 'Show', @cheese %> |
		<%= link_to 'Back', cheeses_path %>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<%= render 'form' %>
	</div>
</div>

