<h1>New cheese</h1>
<div class="row">
	<div class="col-md-12" style="margin-bottom: 15px">
		<%= link_to 'Back', cheeses_path, :type => "button", :class => "btn btn-default" %>
	</div>
</div>
<%= render 'form' %>

